/* pages/rank/rank.wxss */
.rank-content{
  padding: 20rpx;
  box-sizing: border-box;
  width: 100%;

}
.rank-item{
  padding: 20rpx;
  box-sizing: border-box;
  background: #F9F9F9;
  display: flex;
  margin-bottom: 10rpx;
  width: 100%;
}
.rank-image-content{
  display: flex; 
  align-items: center;

}
.rank-image-content image{
  width: 140rpx;
  height:140rpx;
  border-radius: 10rpx;
  background: rgba(0,0,0,1);
}
.right-item{
  display: flex;
  flex-direction: column;
  padding-left: 20rpx;
  box-sizing: border-box;
  justify-content: space-between;
  width: 80%;
}
.song-list{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.song-index{
  color: #bbb;
  font-size: 24rpx;
  margin-right: 10rpx;
  box-sizing: border-box;
}
.song-item{
  font-size: 26rpx;
  color: #888;
}